@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  /* background-size: 100vw 100vh; */
  /* animation: rainbow 1s ease infinite; */
}

.App {
  font-family: "Comic Sans MS";
  margin: 0;
  margin-top: 100px;
  padding: 0;

  color: white;
  font-size: 18px;
}

.App-Inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  user-select: none;
  min-height: 100vh;
}

.TopBanner {
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 8px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.TopBanner-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.TopBanner-subtitle {
  margin-top: 2px;
  font-size: 16px;
}

@keyframes pulsate {
  to {
    box-shadow: 0 0 3px 3px white;
  }
}

.MainStage {
  display: flex;
  /* align-items: center; */
  /* margin-top: 2.5vh; */
  /* margin-bottom: 2.5vh; */
}

.Stone {
  border-radius: 5px;
  width: 180px;
  height: 180px;
  box-shadow: 0 0 25px 10px white;
  background-image: url("images/stone.png");
  background-size: cover;
  animation: pulsate 1s ease-in-out infinite alternate;
  /* cursor: pointer; */
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ToolBox {
  width: 150px;
  height: 180px;
  margin-left: 25px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 10px;
  background-image: radial-gradient(
    closest-corner at 50% 55%,
    #aaa9a9 0%,
    black 100%
  );
}

.ToolBox-image {
  height: 96px;
}

.ToolBox-name {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

.ToolBoxUpgradable .ToolBox-image {
  /* margin-top: -5px; */
  /* margin-bottom: 5px; */
  height: 64px;
}

.ToolBoxUpgradable {
  background-image: radial-gradient(
    closest-corner at 50% 60%,
    #aaa9a9 0%,
    black 100%
  );
}

.ToolBoxUpgradable:hover {
  cursor: pointer;
}

.ToolBox-description {
  padding-bottom: 10px;
  font-size: 12px;
}

.ToolBox-upgrade {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  width: 100%;
  background-color: #ffb130;
  margin-top: 14px;
  margin-bottom: -12px;
  /* padding-bottom: 5px; */
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 5px;
  padding-top: 8px;
}

.ToolBox-upgrade-icon {
  margin-right: 5px;
}

.Stone:active {
  transform: rotate(3deg);
  transition: all 25ms ease-out;
}

@keyframes flyAway {
  to {
    transform: translateY(-450px);
  }
}

.Shard {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: rgb(47, 231, 47);
  margin-top: -25px;
  margin-left: -25px;
  z-index: 100;
  animation: flyAway 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  font-family: "Comic Sans MS";
  pointer-events: none;
}

.Sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 35px;
}

.SectionGutter {
  background-size: 200px;
  overflow-x: auto;
  width: 100vw;
  height: 140px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5) inset;
}

.SectionBanner {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  color: black;
  margin-left: 10px;
  margin-bottom: 10px;
}

.SectionBanner-icon {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.SectionBanner-label {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.SectionBanner-name {
  font-size: 22px;
  font-weight: bold;
}

.SectionBanner-description {
  font-size: 18px;
}

.SectionCard {
  /* min-width: 300px; */
  /* height: 90px; */
  padding: 20px;
  padding-right: 30px;
  padding-top: 12.5px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid black;
  position: relative;
  color: black;
  display: flex;
  box-sizing: border-box;
}

.SectionCard-picture {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 2px solid black;
  margin-right: 10px;
  margin-top: 5px;
}

.SectionCard-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.SectionCard-count {
  position: absolute;
  top: 4px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
}

.SectionCard-name {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.SectionCard-description {
  font-size: 14px;
}

.SectionCard-button {
  font-size: 14px;
  border: 3px solid;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
}

.ButtonDisabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.SectionCard-button:not(.ButtonDisabled):active {
  opacity: 0.8;
}

.SectionProtesters .SectionCard {
  background-color: #ffc5c5;
}

.SectionPublicFigures .SectionCard {
  background-color: #effff3;
}

.SectionCampuses .SectionCard {
  background-color: #c2defb;
}

.SectionProtesters .SectionCard-button {
  background-color: #d0021b;
  border-color: #900404;
}

.SectionPublicFigures .SectionCard-button {
  background-color: #00a602;
  border-color: #036304;
}

.SectionCampuses .SectionCard-button {
  background-color: #194dd2;
  border-color: #01237a;
}

.SectionProtesters .SectionGutter {
  background-image: url("images/textures/protesters.png");
}

.SectionPublicFigures .SectionGutter {
  background-image: url("images/textures/public-figures.png");
}

.SectionCampuses .SectionGutter {
  background-image: url("images/textures/campuses.png");
}

.Footer {
  flex-shrink: 0;
  margin-top: 35px;
  width: 100%;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  /* padding-bottom: 50px; */
}

.Footer b {
  font-weight: normal;
  color: red;
  font-size: 18px;
}

.Reset {
  float: right;
  margin-top: 5px;
  padding-right: 15px;
  cursor: pointer;
}

.Reset:hover {
  color: gray;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .App-Inner {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .MainStage {
    margin-right: 50px;
    margin-top: 0;
    flex-direction: column;
    flex: 1 0 auto;
    /* display: flex; */
    align-items: center;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
  }
  .ToolBox {
    margin-left: 0;
    margin-top: 50px;
  }
  .Sections {
    overflow: hidden;
  }
  .SectionBanner {
    margin-left: 0;
    border-radius: 10px;
  }
  .Section:first-of-type {
    margin-top: 0;
  }
  .Sections {
    width: 70%;
  }
  .SectionGutter {
    border-radius: 10px;
    width: 70vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
